<section class="author-archive" id="products">
  <div class="container">
    <h2 class="section-title">Produits</h2>
    <input type="radio" id="Tous" name="categories" value="Tous" checked>
    <input type="radio" id="Grand_format" name="categories" value="Grand_format">
    <input type="radio" id="PLV" name="categories" value="PLV">
    <input type="radio" id="Goodies" name="categories" value="Goodies">
    <input type="radio" id="Véhicules" name="categories" value="Véhicules">
    <input type="radio" id="Négoce" name="categories" value="Négoce">
    <input type="radio" id="Posters" name="categories" value="Posters">
    <input type="radio" id="Flyers" name="categories" value="Flyers">
    <input type="radio" id="Chantiers" name="categories" value="Chantiers">
    <input type="radio" id="Textiles" name="categories" value="Textiles">
    <input type="radio" id="Divers" name="categories" value="Divers">
    <input type="radio" id="Totems" name="categories" value="Totems">

    <div class="filters">
      <label for="Tous">Tous produits</label>

      <label for="Grand_format">Grand format</label>

      <label for="PLV">PLV - Bâches</label>

      <label for="Goodies">Goodies</label>

      <label for="Véhicules">Véhicules</label>

      <label for="Négoce">Négoce</label>

      <label for="Posters">Posters - Photos</label>

      <label for="Flyers">Cartes de visite-Flyers-Tampons</label>

      <label for="Chantiers">Chantiers</label>

      <label for="Textiles">Textiles</label>

      <label for="Divers">Totem - Divers</label>

      <label for="Totems">Totems</label>

    </div>

    <div class="posts">
      <img class="post" data-category="Textiles PLV"src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/parallax-pre.jpg" alt="">
      <img class="post" data-category="Grand_format Textiles PLV" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/chart-pre.png" alt="">
      <img class="post" data-category="PLV Véhicules Goodies" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/pre-wp.png" alt="">
      <img class="post" data-category="Grand_format PLV" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/load-pre.png" alt="">
      <img class="post" data-category="Grand_format PLV" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/animations-pre.png" alt="">
      <img class="post" data-category="Grand_format Goodies" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/flex-pre.png" alt="">
      <img class="post" data-category="Totems Goodies" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/spirit-pre.jpg" alt="">
      <img class="post" data-category="Grand_format Goodies PLV" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/cursor-pre.jpg" alt="">
      <img class="post" data-category="Goodies PLV Grand_format Négoce" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/pre-oo.png" alt="">
      <img class="post" data-category="Goodies Grand_format Négoce" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/slick-pre.png" alt="">
      <img class="post" data-category="Grand_format Goodies PLV" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/stars-pre.png" alt="">
      <img class="post" data-category="Goodies Posters" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/scroll-preview.jpg" alt="">

      <%= image_tag('Flyers/Calendriers-foot.jpg', class: "post", :data => { :category => "Flyers"}, alt: "") %>
      <%= image_tag('Flyers/Calendriers-rugby.jpg', class: "post", :data => { :category => "Flyers"}, alt: "") %>
      <%= image_tag('Flyers/Martinez-Espaces-verts.jpg', class: "post", :data => { :category => "Flyers"}, alt: "") %>
      <%= image_tag('Flyers/Saveurs-Limousin.jpg', class: "post", :data => { :category => "Flyers"}, alt: "") %>
      <%= image_tag('Flyers/Flyers-Bouchard-Peintures.jpg', class: "post", :data => { :category => "Flyers"}, alt: "") %>
      <%= image_tag('Flyers/Flyers.jpg', class: "post", :data => { :category => "Flyers"}, alt: "") %>
      <%= image_tag('Flyers/Martinez-Espaces-verts.jpg', class: "post", :data => { :category => "Flyers"}, alt: "") %>
      <%= image_tag('Flyers/Martinez-Espaces-verts.jpg', class: "post", :data => { :category => "Flyers"}, alt: "") %>


      <%= image_tag('chantiers/chantier-MEV.jpg', class: "post", :data => { :category => "Chantiers"}, alt: "") %>
      <%= image_tag('chantiers/saveurs-limousin.jpg', class: "post", :data => { :category => "Chantiers"}, alt: "") %>
      <%= image_tag('chantiers/chantier-BoToi.jpg', class: "post", :data => { :category => "Chantiers"}, alt: "") %>
      <%= image_tag('chantiers/chantier-entreprise-romain.jpg', class: "post", :data => { :category => "Chantiers"}, alt: "") %>
      <%= image_tag('chantiers/chantier-MEV.jpg', class: "post", :data => { :category => "Chantiers"}, alt: "") %>
      <%= image_tag('chantiers/saveurs-limousin.jpg', class: "post", :data => { :category => "Chantiers"}, alt: "") %>
      <%= image_tag('chantiers/chantier-BoToi.jpg', class: "post", :data => { :category => "Chantiers"}, alt: "") %>
      <%= image_tag('chantiers/chantier-entreprise-romain.jpg', class: "post", :data => { :category => "Chantiers"}, alt: "") %>
      <!-- <img class="post" data-category="Goodies Flyers Posters" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/scroll-preview.jpg" alt=""> -->
      <%= image_tag('chantiers/chantier-MEV.jpg', class: "post", :data => { :category => "Divers"}, alt: "") %>
      <%= image_tag('chantiers/saveurs-limousin.jpg', class: "post", :data => { :category => "Divers"}, alt: "") %>
      <%= image_tag('chantiers/chantier-BoToi.jpg', class: "post", :data => { :category => "Divers"}, alt: "") %>
      <%= image_tag('chantiers/chantier-entreprise-romain.jpg', class: "post", :data => { :category => "Divers"}, alt: "") %>
      <%= image_tag('chantiers/chantier-MEV.jpg', class: "post", :data => { :category => "Divers"}, alt: "") %>
      <%= image_tag('chantiers/saveurs-limousin.jpg', class: "post", :data => { :category => "Divers"}, alt: "") %>
      <%= image_tag('chantiers/chantier-BoToi.jpg', class: "post", :data => { :category => "Divers"}, alt: "") %>
      <%= image_tag('chantiers/chantier-entreprise-romain.jpg', class: "post", :data => { :category => "Divers"}, alt: "") %>
    </div>
  </div>
</section>
